html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

body {
    background-color: #ccc;
}

main {
    width: 900px;
    margin: auto;
    text-align: center;
}

footer {
    width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

article {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 32px;
    padding: 16px 32px;
}

article a {
    display: inline-block;
    width: 260px;
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0 #ccc;
}

article a:hover {
    box-shadow: 8px 8px 8px 0 #ccc;
}

img {
    height: 64px;
}